@import "./base/variables";


footer {

    padding: 1%;

    div {
        background-color: rgb(66, 18, 18);

        padding: 5px;
        display: table-cell;
        display: flex;
        align-content: center;


        div {

            a img:hover {
                box-shadow: $shadow;
            }
        }


    }
}