@import url(../base/_media-querys.scss);


footer{
    
padding: 1%;
    div {
        background-color: rgb(66, 18, 18);
    
        padding: 5px;
        display: table-cell;
        display: flex;
        align-content: center;
      
        
        div {
         
            a img:hover {
                box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #a92106, 0 0 30px #ff4e18, 0 0 40px #ff7418, 0 0 55px #ff1818, 0 0 75px #49ff18;
            
            }
        }
        
    
    }
}