.container-fluid {
    background-color: #232323;

    .dropdown-menu {
        background-color: brown;
        transition: 1s;

        &:hover {

            background-color: black;
            color: rgb(232, 21, 21);
            text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #a92106, 0 0 30px #ff4e18, 0 0 40px #ff7418, 0 0 55px #ff1818, 0 0 75px #49ff18;


        }
    }
}

