@import "./base/variables";



.container-fluid {
    background-color: #232323;

    .dropdown-menu {
        background-color: brown;
        transition: 1s;

        &:hover {

            background-color: black;
            color: rgb(232, 21, 21);
            text-shadow:$shadow;
        }
    }
}

