@import "./base/variables";

main section {

    img {
        width: 80%;
        height: 85%;
        padding-top: 3%;

    }

    h2 {
        color: $colorfuentesub;
        text-shadow: $shadow;
        padding: 1%
    }

    p {
        color: $colorfuente;
        padding-bottom: 3%;

        a {
            text-decoration: none;
            transition: 1s;
            color: $colorfuente;

            &:hover {
                color: $colorfuente;
                text-shadow: $shadow;
            }

        }
    }

}

.hero {
    background-color: rgb(7, 6, 6);
    background-image: url(../img/fondofinal.jpg);
    width: 100%;
    height: calc(90vh - 110px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: rgb(95, 4, 4);
        font-size: 3rem;
        font-weight: bold;
        left: 10%;
        position: absolute;
        text-align: center;
        top: 40%;
        width: 80%;
        border: 2px;
        padding: 2px;
        background-color: black;
        letter-spacing: 5px;
        border: solid 5px rgb(56, 1, 1);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-shadow: $shadow;


    }

}

#imagenes {
    padding: 3%;

    div {
        background-color: #232323;
    }

}


.img {
    border: solid 2px black;
    background-color: rgb(68, 9, 9);

    color: $colorfuente;
    padding: 3%;

    a {
        text-decoration: none;
        color: $colorfuente;

    }
    p{
        padding-top: 3%;
    }

    img {
        transition: 1s;

        &:hover {
            box-shadow: $shadow;
        }

    }
}


.enlace-a-redes {
    text-align: center;

    display: inline;
    padding: 10px;

    font-size: 25px;
   

    section {

        background-image: url(../img/playing-cards-img.png);
        width: 100%;
        height: calc(110vh - 110px);
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
       

        a {
            text-decoration: none;
            color: $colorfuente;
            border: solid 1px;
            transition: 1s;
            padding: 5px;
            background-color:black;
            

            &:hover {

                text-shadow: $shadow;

            }
        }

    }

}











.productos {
    padding: 0%;

    h2 {
        background-color: black;
        color: $colorfuentesub;
        padding: 20px;
        text-align: center;
        text-shadow: $shadow;
        font-size: 2vw;

    }

    .productos-contenedor {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        div {
            border: solid 2px black;
            background-color: #000000;
            margin: 2%;
             width: 250px;
            height: 310px;
            transition: 1s;
          text-align: center;

            & :hover {

                text-shadow: $shadow;
            }


            a img {
                width: 245px;
                height: 245px;


            }

            h3 {
                font-size: large;
                padding-top: 7%;
               padding-left: 1%;
               padding-right: 1%;
                text-decoration: none;

                color: $colorfuente;





            }


        }
    }
}

.principal {
    padding: 5%;
    background-color: rgb(36, 24, 24);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .arena {
        background-image: url(../img/playing-cards-img.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        color: white;
        padding: 10px;
        background-color: black;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 25px;

        h3 {
            color: $colorfuentesub;
            text-shadow: $shadow;
        }

        p a {
            color: $colorfuente;
            text-decoration: none;
        }
    }

    .nosotros {
        background-image: url(../img/playing-cards-img.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        border: solid 2px rgb(56, 1, 1);

        color: $colorfuente;
        padding: 5%;
        background-color: black;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 25px;
    }

    h2 {
        color: $colorfuentesub;
        text-shadow: $shadow;
    }

    .mapa iframe {
        padding: 4%;




    }


}