@media screen and (max-width: 1023px) {
    main section img {
        width: 60%;
        height: 65%;
        padding-top: 3%;

    }

    h1 {
        font-size: 5vw;
    }

    .productos h2 {
        font-size: 4vw;

    }

    .productos-contenedor h3 {
        font-size: 4vw;
    }



}



@media screen and (max-width: 480px) {
 

    main section p {
        font-size: 75%;
    }
.nosotros p {
    font-size: 4vw;
}
  
.mapa iframe {
    width: 100%;
    height: calc(50vh - 90px);
    align-items: center;
    align-content: center;
    position: relative;

    display: flex;
}
  

    .hero {
        width: 100%;
        height: calc(90vh - 190px);
        align-items: center;
        align-content: center;
        position: relative;

        display: flex;
        h1 {
            font-size: 4vw;
    
        }
        h2 {
            font-size: 3vw;
        }
    }

    footer div {

        display: flex;
        flex-direction: row;

        justify-content: space-around;
    }

    footer div div a img {
        width: 90%;
        height: 90%;
        padding-top: 5%;

    }
}



@media(orientation: landscape) {
    main section p {
        font-size: 90%;
    }

    h1 {
        font-size: 3vw;

    }

    h2 {
        font-size: 3vw;
    }

    .hero {
        width: 100%;
        height: calc(90vh - 190px);
        align-items: center;
        align-content: center;
        position: relative;

        display: flex;
        h1 {
            font-size: 3vw;
    
        }
        h2 {
            font-size: 3vw;
        }
    

    }
}